ul{
    list-style: none;
    float: right;
}
.nav>li{
    width: 120px;
    float: left;
}
ul a{
    display: block;
    text-decoration: none;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: rgba(0,0,0,0);
    font-family: "Times New Roman", "KaiTi";
    font-size: 20px;
    text-shadow: 0 0 2px black;
}
.drop-down{
    position: relative;
}
.drop-down-content{
    padding: 0;
    display: none;
    position: absolute;
}
.drop-down-content li:hover a{
    text-shadow: 0 0 10px black;
}
.drop-down:hover>a{
    text-shadow: 0 0 5px black;
}
.nav .drop-down:hover .drop-down-content{
    display: block;
}