<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算机</title>
  <style>
    table{
      background-color: #eeeeef;
    }
    td{
      padding: 0;
    }
    td>button{
      width: 60px;
      height: 40px;
      background-color: #eeeeef;
      border: 2px solid #e4e4e5;
    }
    .number{
      background-color: #f8f8f9;
    }
    .equal{
      background-color: #89b9df;
    }
    th>span, td>span{
      width: 41px;
      display: inline-block;
    }
  </style>
</head>
<body>
<table>
  <thead>
  <tr>
    <th colspan="4" style="text-align: left; font-size: 10px">计算器</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="4"><span style="text-decoration: underline;">=</span><span><b>标准</b></span><span>🖱</span><span>&nbsp;</span><span>&nbsp;</span><span>🖊</span></td>
  </tr>
  <tr>
    <td colspan="4"><p style="text-align: right; font-size: 25px"><b>0</b></p></td>
  </tr>
  <tr>
    <th colspan="4"><span style="color: #b7b7b8">MC</span><span style="color: #b7b7b8">MR</span><span>M+</span><span>M-</span><span>MS</span><span style="color: #b7b7b8">M</span></th>
  </tr>
  <tr>
    <td><button type="button">%</button></td>
    <td><button type="button">CE</button></td>
    <td><button type="button">C</button></td>
    <td><button type="button">DEL</button></td>
  </tr>
  <tr>
    <td><button type="button"><sup>1</sup>/<sub>x</sub></button></td>
    <td><button type="button"><SUB>x</SUB><sup>2</sup></button></td>
    <td><button type="button"><sup>2</sup><sub>√<span style="text-decoration: overline;">x</span></sub></button></td>
    <td><button type="button">/</button></td>
  </tr>
  <tr>
    <td><button class="number" type="button">7</button></td>
    <td><button class="number" type="button">8</button></td>
    <td><button class="number" type="button">9</button></td>
    <td><button type="button">X</button></td>
  </tr>
  <tr>
    <td><button class="number" type="button">4</button></td>
    <td><button class="number" type="button">5</button></td>
    <td><button class="number" type="button">6</button></td>
    <td><button type="button">-</button></td>
  </tr>
  <tr>
    <td><button class="number" type="button">1</button></td>
    <td><button class="number" type="button">2</button></td>
    <td><button class="number" type="button">3</button></td>
    <td><button type="button">+</button></td>
  </tr>
  <tr>
    <td><button class="number" type="button"><sup>+</sup>/<sub>-</sub></button></td>
    <td><button class="number" type="button">0</button></td>
    <td><button class="number" type="button">.</button></td>
    <td><button class="equal" type="button">=</button></td>
  </tr>
  </tbody>
</table>
</body>
</html>