<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
  <script type="text/javascript" src="jquery-1.8.2.min.js"></script>
  <title>点击文字弹出一个DIV层窗口代码</title>
  <meta charset="UTF-8">
  <style>
    .table{
      list-style: none;
    }
    .table img{
      display: none;
      position: absolute;
    }
    .table:hover img{
      display: block;
    }
  </style>
</head>
<body>
<ul>
  <li class="table">
    会员卡
    <img src="tenX.png">
  </li>
</ul>
测试文字会不会被挤开<br>
测试文字会不会被挤开<br>
测试文字会不会被挤开<br>
测试文字会不会被挤开<br>
</body>
</html>

