<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹幕礼仪考试</title>
</head>
<body>
<h1>弹幕礼仪考试</h1>
<form>
  <section>
    <h2>一、单选题（10个）</h2>
    <fieldset>
      <ol>
        <li>在观看视频中遇到过长弹幕遮挡屏幕时应该？</li>
        <label for="s1a"><input type="radio" name="s1" value="a" id="s1a">A.再看一遍</label>
        <label for="s1b"><input type="radio" name="s1" value="b" id="s1b">B.发评论抱怨</label>
        <label for="s1c"><input type="radio" name="s1" value="c" id="s1c">C.进行举报</label>
        <label for="s1d"><input type="radio" name="s1" value="d" id="s1d">D.复制黏贴</label>

        <li>下列哪一条符合弹幕礼仪？</li>
        <label for="s2a"><input type="radio" name="s2" value="a" id="s2a">A.剧透弹幕</label>
        <label for="s2b"><input type="radio" name="s2" value="b" id="s2b">B.合适的吐槽弹幕</label>
        <label for="s2c"><input type="radio" name="s2" value="c" id="s2c">C.低俗空耳</label>
        <label for="s2d"><input type="radio" name="s2" value="d" id="s2d">D.前排签到</label>

        <li>以下哪种评论符合评论礼仪？</li>
        <label for="s3a"><input type="radio" name="s3" value="a" id="s3a">A.抢占前排</label>
        <label for="s3b"><input type="radio" name="s3" value="b" id="s3b">B.和大家愉快的讨论</label>
        <label for="s3c"><input type="radio" name="s3" value="c" id="s3c">C.散发广告</label>
        <label for="s3d"><input type="radio" name="s3" value="d" id="s3d">D.发迷之链接</label>
      </ol>
    </fieldset>
  </section>
  <section>
    <h2>二、多选题</h2>
    <fieldset>
      <legend>第一节</legend>
      <ol>
        <li>商业银行设计发行的结构性理财产品，通常可与（    ）等挂钩。</li>
        <label for="m1a"><input type="checkbox" name="m1" value="a" id="m1a">A.利率</label>
        <label for="m1b"><input type="checkbox" name="m1" value="b" id="m1b">B.股票</label>
        <label for="m1c"><input type="checkbox" name="m1" value="c" id="m1c">C.商品期货指数</label>
        <label for="m1d"><input type="checkbox" name="m1" value="d" id="m1d">D.汇率</label>
        <label for="m1e"><input type="checkbox" name="m1" value="e" id="m1e">E.股指</label>
        <p style="display: none">ABD</p>
      </ol>
    </fieldset>

    <fieldset>
      <legend>各种小部件</legend>
      <label for="color">颜色选择器：<input type="color" name="color" id="color"></label><br>
      <label>文件选择器：<input type="file" name="file" id="file" accept="image/*" multiple></label><br>
      <label>进度条：<progress max="100" value="75">75/100</progress></label><br>
      <label>仪表：<meter min="0" max="100" value="75" low="33" high="66" optimum="50">75</meter></label>
    </fieldset>
  </section>
</form>
</body>
</html>